<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Fighting Slumlords{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    {% include "SlumlordsBundle:Default:stylesheets.html.twig" %}
</head>
<body data-spy="scroll">
    <div class="row-fluid">
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <a class="brand" href="{{ path('slumlords_homepage') }}">Fighting Slumlords</a>
                <ul class="nav">
                    <li><a href="{{ path('slumlords_homepage') }}">Home</a></li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('slumlords_desks') }}">Desks</a></li>
                        <li><a href="{{ path('slumlords_bank') }}">Bank</a></li>
                        <li><a href="{{ path('fos_user_profile_show') }}">My Account</a></li>
                        {% block nav %}{% endblock %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="span12">
            {% block body %}
            <img src="http://1.bp.blogspot.com/-Q5DcF4l4G2E/TcRW65FSXfI/AAAAAAAADso/9PiZxiErhJo/s400/slumlord.jpg" alt="Fighting Slumlords" />
            <h3>Changelog</h3>
            <ul>
                <li>(11/09) Login and registration is now working.</li>
            </ul>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a class="btn btn-inverse" href="{{ path('fos_user_security_logout') }}">Logout</a>
            {% else %}
                <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">Login</a>
                <a class="btn" href="{{ path('fos_user_registration_register') }}">Register</a>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</body>
</html>

