<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="{{ path('slumlords_homepage') }}">Fighting Slumlords</a>

		<ul class="nav" role="navigation">
		    <li><a href="{{ path('slumlords_homepage') }}">Home</a></li>

		    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		        <li><a href="{{ path('slumlords_desks') }}">Desks</a></li>
		        <li><a href="{{ path('slumlords_bank') }}">Bank</a></li>
		        <li><a href="{{ path('fos_user_profile_show') }}">My Account</a></li>
		    {% endif %}

		    {% if is_granted('ROLE_USER') %}
		    	<li class="dropdown">
		    		<a id="dropdown-super-admin" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
		    			Administration
		    			<b class="caret"></b>
		    		</a>
		    		<ul class="dropdown-menu" role="menu" aria-labelledby"dropdown-super-admin">
		    			<li>
		    				<a tabindex="-1" href="#">View Classes</a>
		    			</li>
		    			<li>
		    				<a tabindex="-1" href="#">View Users</a>
		    			</li>
		    		</ul>
		    	</li>
		    {% endif %}
		</ul>
    </div>
</div>