{% extends 'SlumlordsBundle:Default:index.html.twig' %}

{% block body %}
<div style="float: right;">
    <form action="{{ path('slumlords_properties') }}" method="post" enctype="multipart/form-data">
    <select name="courses_select" class="courses_select">
        {% for listCourse in user.courses %}
	    {% if listCourse.id == course.id %}
                <option value="{{ listCourse.id }}" selected="selected">{{ listCourse.name }}</option>
            {% else %}
                <option value="{{ listCourse.id }}">{{ listCourse.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
    </form>
</div>

<h1>{{ course.name }} Properties
{% if is_granted('ROLE_INSTRUCTOR') %}
<a href="{{ path('slumlords_user_attendance', {'courseId': course.id}) }}" class="btn btn-mini">Take Attendance</a><br />
{% endif %}
</h1>


<table class="table properties" cellspacing="10" cellpadding="10">
    <tbody>
        {% if properties is empty %}
            <tr> 
                <td>No properties exist for {{ course.name }}</td>
            </tr>
        {% else %}
            {% for i in 1..course.rows %}
                <tr>
                    {% for j in 1..course.columns %}
                        {% set property = properties[(i-1)*course.columns+(j-1)] %}
                        {% if property.isActive %}
				{% set var_unavailable = "" %}
			{% else %}
				{% set var_unavailable = "property-inactive" %}
			{% endif %}
			<td class="span2 {{var_unavailable}}">
                            <a href="{{ path('slumlords_property_edit', {'courseId': course.id, 'id': property.id}) }}" class="btn btn-mini">Manage</a><br />

                            {{ property.id }}<br />
                            {% if property.owner is null %}
                                Bank<br />
                            {% else %}
                                {{ property.owner }}<br />
                            {% endif %}
                            Rent: {{ property.rent }}
                        </td>
                    {% endfor %}
                </td>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}
