{% extends 'SlumlordsBundle:Default:index.html.twig' %}

{% block body %}
	<h1>Rent Property {{ property.id }}</h1>
	Owned by: 
	{% if property.user is null %}
	   Bank<br />
    {% else %}
        {{ property.user }} <br />
    {% endif %}.
	Status: 
    {% if property.isActive %}
	   Available <br />
    {% else %}
	   Unavailable <br />
	{% endif %}
	<br />
	<form action="{{ path('slumlords_property_rent', {'id': property.id}) }}" method="post" {{ form_enctype(form) }}>
		{# {{ form_widget(form) }} #}
		Rent: {{ property.rent }}
		<br />
		<input type="submit" value="Rent" />
	</form>
{% endblock %}
