{% extends 'SlumlordsBundle:Default:index.html.twig' %}

{% block body %}
<h1>My Account</h1>

<form>
 <fieldset>
  Name: {{user.lastName}}, {{user.firstName}} <br>
  Email: {{user.email}} <br>
 </fieldset>
</form>

<table border="1">
  <colgroup>
    <col span="2" style="background-color:grey">
    <col style="background-color:red">
  </colgroup>
  <tr>
    <th>Wage</th>
    <th>Desk</th>
    <th>Rent</th>
  </tr>
  <tr>
    <td>{{user.wage}}</td>
    <td>DESK 1 (need sql id)</td>
    <td> property.rent </td>
  </tr>
</table>

<a href="{{ path('fos_user_profile_edit') }}" class="btn">Edit Profile</a>
{% endblock %}

