{% extends 'SlumlordsBundle:Default:index.html.twig' %}

{% block body %}

<header>
  <div class="wrapper">
    <a href="#"><img src="http://1.bp.blogspot.com/-Q5DcF4l4G2E/TcRW65FSXfI/AAAAAAAADso/9PiZxiErhJo/s400/slumlord.jpg" alt="Fighting Slumlords" title="Fighting Slumlords"/></a>
  </div>
</header>


<h1> {{user.firstName}}'s Account</h1>

<form>
  <strong>Name:</strong> {{user.lastName}}, {{user.firstName}} <br>
  <strong>Email:</strong> {{user.email}} <br>
</form>


<a href="{{ path('fos_user_profile_edit') }}" class="btn">Edit Profile</a>
{% endblock %}

